---
---
<!DOCTYPE html>
<style>
html {
  font: 16pt/1.5 Palatino, 'Palatino Linotype';
}
a.bookmarklet {
  background:#3498db;
  border:gray solid;
  border-radius:8px;
  color:white;
  font-family:Arial;
  padding:2px 6px;
  text-decoration:none;
  white-space:nowrap;
}
@media all and (min-width:1000px) {
  body {
    column-count:2;
    -webkit-column-count:2;
  }
}
</style>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<h1>Tweak CSS Tests</h1>
<p>
A bookmarklet that helps you running the
<a href="http://test.csswg.org/shepherd/">CSS Test Suites</a>
on your browser.

<h2>Overview</h2>
<p>
CSS syntax may change during the development of the specifications.
The <a href="http://test.csswg.org/shepherd/">CSS Test Suites</a>
uses the most recent syntax,
but the browser you want to test may support only old syntaxes.
<p>
This bookmarklet dynamically modifies the DOM for your browser,
so that you can test the layout and/or the behavior
before the browser adopts to the new syntax.
<p>
Supports <a href="http://dev.w3.org/csswg/css-writing-modes-3/">CSS Writing Modes Level 3</a>
for Chrome/Safari/IE.

<h2>Install</h2>
<ol>
  <li>Drag this bookmarklet to your bookmarks bar:
    <a class=bookmarklet href='{% include_relative bookmarklets/insert-tweak-css-tests.js %}'>tweak-css-tests</a>
</ol>

<p>
If that fails, please refer to
<a href="https://crossbrowsertesting.com/faq/how-do-i-install-bookmarklet-google-chrome-mac-os">how to install bookmarklet in Chrome</a>.

<h2>How to use the bookmarklet</h2>
<ol>
  <li>Navigate to the test page in the <a href="http://test.csswg.org/harness/">CSS Test Harness</a>.
  <li>Click the bookmarklet on your bookmarks bar.
</ol>

<h2>Advanced Topics</h2>

<h3>Offline version of the bookmarklet</h3>
<p>
The bookmarklet loads the most recent version automatically,
but it requires an Internet connection to run.
The offline version of the bookmarklet installs all the necessary logic locally within your bookmark,
so that it runs without a connection.
<p>
When you need newer versions,
you will need to re-install the bookmarklet though.
Please refer to the <a href="https://github.com/kojiishi/tweak-css-tests/commits/">commit history</a>
to see if newer versions are available.
<p>
To install the offline version of the bookmarklet:
<ol>
  <li>Drag this bookmarklet to your bookmarks bar:
    <a class=bookmarklet href='{% include_relative bookmarklets/tweak-css-tests.js %}'>tweak-css-tests</a>
</ol>

<h3>Using the script in your HTML files</h3>
<p>
If you have the test files on your local hard drive,
you can load the script into the test page
by adding a script tag to the test page.

{% highlight html %}
<script src="tweak-css-tests.js"></script>
{% endhighlight %}

<p>
The script is available <a href="tweak-css-tests.js">here</a>,
or on <a href="https://github.com/kojiishi/tweak-css-tests">github</a>.
